{% extends "base.html" %}
{% block content %}

  <h2>{{ page_title }}</h2>
  <p>
    This article is about the novel series. For the character, see Harry Potter (character). For the film series, see Harry
    Potter (film series). For the franchise, see Wizarding World. For the universe, see Fictional universe of Harry Potter.
    For other uses, see Harry Potter (disambiguation).
    Harry Potter
    The Harry Potter logo first used for the American edition of the novel series (and some other editions worldwide), and
    then the film series.
    Philosopher's Stone (1997)
    Chamber of Secrets (1998)
    Prisoner of Azkaban (1999)
    Goblet of Fire (2000)
    Order of the Phoenix (2003)
    Half-Blood Prince (2005)
    Deathly Hallows (2007)
    Author J. K. Rowling
    Cover artist Thomas Taylor, Cliff Wright, Giles Greenfield, Jason Cockcroft
    Country United Kingdom
    Language English
    Genre Fantasy
    Publisher Bloomsbury
    Published 26 June 1997 – 21 July 2007 (initial publication)
    Media type
    Print (hardback and paperback)
    Audiobook
    E-book
    No. of books 7
    Website www.wizardingworld.com
    Harry Potter is a series of seven fantasy novels written by British author J. K. Rowling. The novels chronicle the lives
    of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts
    School of Witchcraft and Wizardry. The main story arc concerns Harry's conflict with Lord Voldemort, a dark wizard who
    intends to become immortal, overthrow the wizard governing body known as the Ministry of Magic, and subjugate all
    wizards and Muggles (non-magical people).
  </p>

  {% for member in company %}

  <div class="row featurette">

      {% if loop.index % 2 != 0 %}

          <div class="col-md-7">
              <h3>{{ loop.index }}. {{ member.name }}</h3>
              <p>{{ member.description }}</p>
          </div>
          <div class="col-md-5">
              <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
          </div>
      
      {% else %}

          <div class="col-md-5">
              <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
          </div>
          <div class="col-md-7">
              <h3>{{ loop.index }}. {{ member.name }}</h3>
              <p>{{ member.description }}</p>
          </div>

      {% endif %}

  </div>

  {% if loop.index != loop.length %}

      <hr class="featurette-divider">

  {% endif %}

{% endfor %}

{% endblock %}